/**
 * @brief ESP32 Rover Kit DTS Overlay File
 */

/ {
    aliases {
        adc0 = &adc0;
        pca9685 = &pca9685;
        buzzer0 = &buzzer0;
        led0 = &led0;
    };

    zephyr,user {
        io-channels = <&adc0 4>;
    };

    chosen {
        zephyr,adc = &adc0;
    };

    buzzers {
        compatible = "pwm-leds";

        buzzer0: buzzer_0 {
            gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
            label = "buzzer";
        };

    };

    leds {
        compatible = "gpio-leds";
                
        led0: led_0 {
            gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
            label = "LED";
        };
    };

};


&adc0 {
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;

    compatible = "espressif,esp32-adc";
    unit = <0>;

    channel@4 {
        /* Battery Monitor ADC instance */
        reg = <4>;
        zephyr,gain = "ADC_GAIN_1_6";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 20)>;
        zephyr,resolution = <12>;
    };
};

&i2c0 {
    pca9685: pca9685@0 {
        /* PCA9685 PWM driver */
        compatible = "nxp,pca9685-pwm";
        #pwm-cells = <2>;
        reg = <0x5F>;
        status = "okay";
    };
};